<h1>X-Change</h1>
<a href="/users/new">Sign Up</a>
<p>
  App web version
  <!-- <%= appVersion %> -->
</p>

<p>See all of our <a href="<%- `/users/` %>">users</a></p>
<div id="react-app">Here a React app will be rendered</div>
