 
<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>X-Change</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
    <% } %>
  </head>

  <body>
    <header>
        <img src="<%= assetPath('Logo.jpg') %>" alt="Logo", height="100" />
        <nav>
          <ul class="nav_links">
            <li><a href="#">Publications</a></li>
            <li><a href="#">Negotiations</a></li>
            <li><a href="#">Profile</a></li>
          </ul>
        </nav>
    </header>
    <%- body %>
    <script src="<%= assetPath('app.js') %>"></script>
  </body>
</html>
